html {
    background: url(abandoned-forest.jpg);
    background-size: cover;
    }
    
    
div {

    }


    
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button{
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 9px;
  width: 200px;
  margin: 5px;
}

div h1 {
  color: black;
  font-size: 60px;
}
div h6{
  font-size: 20px;
}

button{
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 9px;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  background: rgb(255,255,255,0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#addDel > button{
    width: 150px;
    margin: 2px;
}

#calc > button{
  width: 200px;
  margin: 5px;
}